.foods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin: 10rem auto auto auto;
    max-width: 500px;
    gap: 2rem;
    padding: 1rem;
}

.list {
    width: 100%;
}

.dialog-content {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.info small {
    font-weight: 200;
    font-size: 11px;
}

span {
    display: flex !important;
    width: 100% !important;
    justify-content: space-between !important;
}
